{% extends 'template.twig' %}

{% block content %}
<h1>Show currently playing Last.fm Track in your Twitter Username (Alpha! Prototype)</h1>
<p><a target="_blank" href="https://support.spotify.com/us/using_spotify/app_integrations/scrobble-to-last-fm/">You can connect Last.fm to your spotify account</a> </p>
<p>
  Just for fun by <a href="https://twitter.com/largo">@largo</a>
</p>
<br><br><br>
<a href="{{ absolutePath }}login/twitter">Click here and connect with twitter first.</a>
{% endblock %}
